<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229592766294-f2g15q0naj83iq2ji2p4h1f9m8a9b3tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229592766294-f2g15q0naj83iq2ji2p4h1f9m8a9b3tn</string>
	<key>API_KEY</key>
	<string>AIzaSyBpRqkhdmrFCko7uoSdgpoIgiVcferJpJg</string>
	<key>GCM_SENDER_ID</key>
	<string>229592766294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yehancer.dev.exploreNearby</string>
	<key>PROJECT_ID</key>
	<string>explore-nearby-b39c2</string>
	<key>STORAGE_BUCKET</key>
	<string>explore-nearby-b39c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229592766294:ios:b055f4becedcf7063d68f7</string>
</dict>
</plist>